.delivery{
    display: none;
    >p{
        margin-bottom: 30px;
    }
  
    &-form{
        display: grid;
        gap: 15px;
        div{
            display: grid;
        }
        label{
            font-size: 14px;
            line-height: 17px;
            color: $gray;
            margin-left: 15px;
            margin-bottom: 4px;
        }
        input, textarea{
            border: 1px solid $gray;
            padding: 13px 16px;
            color: $gray;
            border-radius: 8px;
            background-color: transparent;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            &:hover{
                border-color: $yellow-light;
            }
            &:focus{
                background-color: $accept;
                border-color: $yellow-light;
            }
        }
        textarea{
            height: 120px;
            resize: none;
        }
    }
}


@media (max-width: 500px) {
    .delivery{
        padding: 0 15px;
        padding-top: 30px;
        padding-bottom: 140px;
    }
}