.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $accept;
    padding: 15px 100px;
    box-shadow: 0px 0px 16px 0px #FE2E0080;

    .logo{
        max-width: 86px;
        width: 100%;
        margin: 0;
    }
    &-container{
        display: flex;
        gap: 30px;
    }
    &-link{
        img{
            min-width: 32px;
            max-width: 48px;
        }
    }
    &-icons{
        display: flex;
        gap: 10px;
    }
    &-info{
        display: grid;
        gap: 4px;
        font-size: $font-midsmall;
        line-height: $line-mid;
        a{
            text-decoration: none;
        }
        p{
            line-height: 16.8px;
            color: $yellow;
            text-align: right;
        }
    }
}


.whatsapp{
    padding: 12px;
    background: #2DCB6C ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
    border-radius: 123px;
    img{
        width: 100%;
        object-fit: cover;
    }
}
@media (min-width: 1024px) {
    // .logo{display: block;}
    .logo-mob{max-width: 240px;}
    .whatsapp{
        
        max-width: 48px;
        max-height: 48px;
    }
}
@media (max-width: 1023px) {
    .header{
        padding: 15px;
        .logo{
            max-width: 78px;
        }
        &-icons{
            gap: 20px;
            img{
                max-width: 32px;
            }
        }
        &-container{
            gap: 20px;
        }
        &-info{
            a{
                font-size: 14px;
                line-height: 17px;
            }
            p{
                font-size: 16px;
                line-height: 12px;
            }
        }
    }
    .whatsapp{
        padding: 6.8px;
        max-width: 32px;
        max-height: 32px;
    }
    // .logo{display: none;}
    // .logo-mob{display: block;}
}

@media (min-width: 1024px) {
    .logo-mob{display: none;}
}

@media (max-width: 1023px) {
    .logo-desc{display: none;}
    .logo-mob{max-width: 120px;}
}