//colors 
$bg-color: #18191B;
// $yellow: #906314;
$yellow: #FE0000;
// $yellow-light: #C08621;
$yellow-light: #FE2E00;
$gray: #858585;
$accept: #272733;
$dark-text: #272733;

//font-size

$font-big: 48px;
$font-mid: 42px;
$font-midsmall: 24px;
$font-small: 18px;

$line-big: 33.6px;
$line-mid: 29.3px;
$line-small: 22px;