//colors 
$bg-color: #18191B;
$yellow: #906314;
$yellow-light: #C08621;
$gray: #858585;
$accept: #212326;

//font-size

$font-big: 48px;
$font-mid: 42px;
$font-midsmall: 24px;
$font-small: 18px;

$line-big: 33.6px;
$line-mid: 29.3px;
$line-small: 22px;